<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keshe.notathome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.keshe.notathome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.keshe.notathome.MainActivity"/>
        <activity android:name="com.example.keshe.notathome.LoginActivity"/>
        <activity android:name="com.example.keshe.notathome.ReginActivity"/>
        <activity android:name="com.example.keshe.notathome.DoorActivity"/>
        <activity android:name="com.example.keshe.notathome.AirActivity"/>
        <activity android:name="com.example.keshe.notathome.HomeActivity"/>
        <activity android:name="com.example.keshe.notathome.LightActivity"/>
        <activity android:name="com.example.keshe.notathome.TempActivity"/>

    </application>

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>